*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    padding: 5vw;
    padding-bottom: 0;
    background-color: #170a41;
}

h1{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
}

h2{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

p{
    padding: 16px;
}

.cards-container{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    width: calc(40% - 20px);
    height: fit-content;
    border: 5px solid white;
    border-style: double;
    color: #fff;
    border-radius: 40px;
    margin-bottom: 50px;
}

.card-image{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 8px;
    height: 300px;
}

.card-image img {
    border-radius: 20px;
}

.card-button{
    color: #fff;
    cursor: pointer;
    padding: 15px 40px;
    margin: 0 0 10px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    width: fit-content;
    transition: all ease 300ms;
    text-decoration: none;
}

.buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card-button:hover {
    background-color: #fff;
}

.card-button:hover a {
    color: #000;
}

.card-button a {
    color: #fff;
    text-decoration: none;
    
}

hr{
    border-style: dashed;
    width: 100%;
    height: 5px;
    margin-bottom: 12px;
    background-color: #fff;
}

footer{
    background-color: #1a1b4f;
    width: 100%;
}

.bottom-container{
    
    width: 110%;
    padding: 20px;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    color: #b4a6a6;
    
}

.contact-me{
    width: 100%;
    padding: 20px;
    
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-link{
    text-decoration: none;
    color: #fff;
    margin-bottom: 40px;
}

.social-media-links{
    display: flex;
    gap: 20px;
    font-weight: 1000;
}

.card-button2{
    color: #fff;
    cursor: pointer;
    padding: 15px 40px;
    margin: 0 0 10px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    width: fit-content;
    transition: all ease 300ms;
    text-decoration: none;
}

.card-button2:hover {
    background-color: #7e7e7e;
}



a:hover{
    color: #000;
}
